@import url('../../public/iran-sans-web/fontiran.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fade-in-up {
    animation: fadeInUp 0.6s ease forwards;
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}


:root {
  --font-iran: 'IRANSans', sans-serif;
  
  --color-background: #ffffff;
  --color-buttom: #e1f0f8;
  --color-titles: #000000;
  --color-title-buttom: #44618d;
  --color-headerBtt: #ff9408;
  --color-headerGee: #14bc84;
  --color-title-header: #4D5766;
  --color-borderClr: #d2d2d2;
  --color-textClr: rgb(28, 62, 117);
  --color-borclr: rgb(222, 240, 252);
  --color-hoverClr: #07b2b2;
  --color-teXt: #4D5766;
}

@layer base {
  body {
    font-family: var(--font-iran);
  }

  p {
    @apply leading-8;
  }
}

